
.image-wrapper {
    position: relative;
    padding-bottom: 56.2%;
}

.image-wrapper img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.MuiListItemSecondaryAction-root{
    color: white !important;
}
.MuiTypography-root , .MuiListItemText-primary , .MuiTypography-body1,  .MuiTypography-displayBlock{
    margin-right: 5px !important;
}